[submodule "external/openvr"]
	path = external/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "external/OpenXR-MixedReality"]
	path = external/OpenXR-MixedReality
	url = https://github.com/mbucchia/OpenXR-MixedReality.git
[submodule "external/oscpack"]
	path = external/oscpack
	url = https://github.com/RossBencina/oscpack.git
